<div class="row review_wrapper">
  <div class="col-sm-12">
    <div class="row">
     <div class="col-xs-4  col-sm-4 ">
        <strong><%= comment.author.full_name %></strong>
      </div>
   </div>
  </div>

  <div class="col-sm-12">

    <!-- <span>“</span> -->
    <%= comment.body %>
		<!-- <span>“</span> -->
    <div class="review_seperator"></div>
  </div>
</div>
