<section class="comments">
	<div class="full-width">
		<% if !comments.blank? %>
			<div class="row">
				<div class="col-xs-12">
					<h4>Comments</h4>
					<hr class="comment-separator">
				</div>
			</div>
		<% end %>
	    <!-- comments list -->
	    <ul class="media-list">
	        <li>
	            <%=
							render partial: "fzcomment/comments/comment_box",
							collection: comments,
							as: :comment,
							locals: { options: options }
							%>
	        </li>
	    </ul>
			<%= paginate comments %>
	</div>

	<div class="full-width comment-form-container">
		<div class="row">
			<div class="col-md-12">
				<%= form_for @comment, :url => fzcomment.comments_path do |f| %>
		    <%#= recaptcha_tags %>
				<h4>Leave a Comment</h4>
		    <div class="form-group"><%= f.text_area :body, {rows: "5", class: 'form-control'} %></div>
		    <%= f.hidden_field :resource_type, {:value => resource_type} %>
		    <%= f.hidden_field :resource_id, {:value => resource_id} %>
		    <div class="row">
		      <div class="col-xs-12 col-sm-12">
		          <div class="row">
		              <div class="col-xs-12 col-sm-3">
										<div id="recaptcha<%= @comment.id %>"></div>
		                <div class="form-group"><%= f.submit "Submit" ,{class: 'form-control btn btn-blue btn-submit'} %></div>
		              </div>
		          </div>
		      </div>
		    </div>
		    <% end %>
			</div>
		</div>
	</div>
</section>

<script>
    function reply(parent_comment) {
        var form = $('#new_comment').clone();
        form.append('<input value="' + parent_comment + '" type="hidden" name="parent_id">');
        form.find("#recaptcha<%= @comment.id %>").remove();
        eleid = Math.random().toString(36).substring(7);
        form.prepend('<div id="' + eleid + '"></div>')
        $('#reply_' + parent_comment).html(form);
        formValidate(form);
        grecaptcha.render(eleid, {'sitekey': "<%= Recaptcha.configuration.public_key %>"});
      }

      function onloadCallback() {
          grecaptcha.render("recaptcha<%= @comment.id %>", {'sitekey': "<%= Recaptcha.configuration.public_key %>"});
      }

      function formValidate(form) {
        form.on('submit', function () {
          cmnt_box = $(form.find('#comment_body')[0]);
          if (1 > cmnt_box.val().trim().length) {
            cmnt_box.css('border','1px solid red','width','100%');
            return false;
          }
          return true;
        });
      }

      $(function () {
        var form = $('#new_comment');
        formValidate(form);
      });
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>

<style>
    .media-object {
        border-radius: 50%;
    }

    textarea.form-control {
      margin-top: 1em;
    }

		.comment-separator {
      border-width: 1px;
			border-color: #ccc;
			margin-top: 0;
    }

</style>
<div class="clear-both"></div>
