/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.s_raty {
  width: auto !important;
}
.review_wrapper {
  margin-bottom: 15px;
}

.review_seperator {
  padding-bottom: 14px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

// .review_wrapper:last-child .review_seperator{
//   border-bottom: none;
// }
