<div class="row review_wrapper">
    <div class="col-sm-12">
      <div class="row">
       <div class="col-xs-12  col-sm-4 ">
          <strong><%= review.author_name %></strong>
        </div>
     </div>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="s_raty" id="raty_<%= review.id %>"></div>
         </div>
       </div>
    </div>

    <div class="col-sm-12">

      <!-- <span>“</span> -->
      <%= review.review %>
			<!-- <span>“</span> -->
      <div class="review_seperator"></div>
    </div>
    <script>
    var raty_div = $('#raty_<%= review.id %>');
    raty_div.raty({
      readOnly : true,
      score : <%= review.stars %>,
      starOn: "<%= image_path('jquery.raty/star-on.png') %>",
      starOff: "<%= image_path('jquery.raty/star-off.png') %>",
      path: ''
    });
    </script>
</div>
