<section class="comments">
	<div class="full-width">
	<% if !reviews.blank? %>
		<div class="row">
			<div class="col-xs-12">
				<h4>Reviews</h4>
				<hr class="comment-separator">
			</div>
		</div>
	<% end %>
    <ul class="media-list">
        <li>
            <%= render partial: 'fzcomment/reviews/review', collection: reviews, as: :review  %>
        </li>
    </ul>
		<%= paginate reviews %>
	</div>

		<div class="full-width comment-form-container">
	    <div class="row">
	      <div class="col-md-6">
	        <h4>Leave a Review</h4>
	        <br>
	        <%
	        review = Fzcomment::Review.new
	        %>
	        <%= form_for review, :url => fzcomment.reviews_path, html: {id: 'review-form'} do |f| %>
						<%= hidden_field_tag('http_referer', options['http_referer']) %>
	        <%
	        unless user_signed_in?
	          %>
	          <fieldset class="form-group">
	            <%= f.label :name, 'Name', { class: 'col-sm-2 form-control-label'} %>
	            <div class="col-sm-10">
	              <%= f.text_field :name, { class: 'form-control'} %>
	            </div>
	          </fieldset>
	          <fieldset class="form-group">
	            <%= f.label :email, 'Email', { class: 'col-sm-2 form-control-label'} %>
	            <div class="col-sm-10">
	              <%= f.text_field :email, { class: 'form-control'} %>
	            </div>
	          </fieldset>
	          <%
	        end
	        %>
	        <fieldset class="form-group">
	          <label for="form-raty" class="col-sm-2 form-control-label">Rating</label>
	          <div class="col-sm-10">
	            <div id="form-raty"></div>
	          </div>
	        </fieldset>
	        <fieldset class="form-group">
	          <%= f.label :review, 'Review', { class: 'col-sm-2 form-control-label' } %>
	          <div class="col-sm-10">
	            <%= f.text_area :review, {rows: '5', class: 'form-control'} %>
	          </div>
	        </fieldset>
	        <%= f.hidden_field :reviewable_type, {:value => reviewable_type} %>
	        <%= f.hidden_field :reviewable_id, {:value => reviewable_id} %>
	        <div class="form-group">
	          <div class="col-sm-2">

	          </div>
	          <div class="col-sm-10">
	            <%= f.submit 'Submit' ,{class: 'btn btn-blue'} %>
	          </div>
	        </div>
	        <% end %>
	      </div>
			</div>
    </div>
</section>

<style>
    .media-object {
        border-radius: 50%;
    }

    #form-raty {
      width: auto !important;
    }
    .comment-separator {
      border-width: 1px;
			border-color: #ccc;
			margin-top: 0;
    }

</style>

<script>
    var raty_div = $('#form-raty');
    raty_div.raty({
      starOn: "<%= image_path('jquery.raty/star-on.png') %>",
      starOff: "<%= image_path('jquery.raty/star-off.png') %>",
      path: ''
    });
		
		function validateEmail(email) {
    	var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    	return re.test(email);
		}

    $(function () {
      $('#review-form').on('submit', function () {
        review_name = $('#review-form #review_name').val();
        if (!(review_name == undefined)) {
          if (review_name.trim().length < 1) {
            $('#review-form #review_name').css('border','1px solid red' , 'width','100%');
            return false;
          }
        }
				$('#review-form #review_name').css('border','');
				review_email = $('#review-form #review_email').val();
				if (!(review_email == undefined)) {
					if (!validateEmail(review_email)) {
            $('#review-form #review_email').css('border','1px solid red' , 'width','100%');
            return false;
          }
				}
        $('#review-form #review_email').css('border','');
        score = $('#review-form input[name="score"]').val();
        score = Number(score);
        if(score < 1){
          $('#review-form #form-raty').css('border','1px solid red','width','100%');
          return false;
        }
        $('#review-form #form-raty').css('border','');
        review_content = $('#review-form #review_review').val();
        if (review_content.trim().length < 1) {
          $('#review-form #review_review').css('border','1px solid red','width','100%');
          return false;
        }
        return true;
      });
    });
</script>
<div class="clear-both"></div>
