<!DOCTYPE html>
<html>
<head>
  <title>Fzcomment</title>
  <%= stylesheet_link_tag    "fzcomment/application", media: "all" %>
  <%= javascript_include_tag "fzcomment/application" %>
  <%= csrf_meta_tags %>
  <style>
      .media-object {
          border-radius: 50%;
      }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
